@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding:0;
  max-width: 100%;
}

body {
  overflow-x: hidden;

}

#interactive {
  width: 100vw;
  height:100vh;
  position: fixed;
  z-index: -999;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: black;
  padding: 45px;
  padding-left: 0;
  font-size: 2em;
}

P {
  padding: 25px;
}

ul {
color: #fff;
float: right;
margin-top: -90px;
}

ul li {
  float: left;
  padding: 20px;
  list-style-type: none;
  font-size: 1.5em;
}

#about {
  padding-right: 0;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 50px;
  font-size: 2em;
}

.icon {
  padding-right: 20px;
}

.imagegroup {
  width: 32%;
  color: #fff;
  display: inline-block;
  padding-bottom: 25px;
  text-align: center;
  position: relative;
}
